<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>MainFormServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.formServlet.mainFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryFormServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.formServlet.CategoryFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductFormServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.formServlet.ProductFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemFormServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.formServlet.ItemFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartFormServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.formServlet.CartFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.RemoveCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitOrderFormServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.formServlet.SubmitOrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFormServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.formServlet.SearchFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.formServlet.ConfirmOrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.formServlet.NewOrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckShippingServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.CheckShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderFormServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.formServlet.ViewOrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderFormServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.formServlet.ListOrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderFromListFormServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.formServlet.ViewOrderFromListFormServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProductAutoCompleteServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.ProductAutoCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuantityServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.AddQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubQuantityServlet</servlet-name>
        <servlet-class>org.mybatis.jpetstore.web.action.SubQuantityServlet</servlet-class>
    </servlet>

<!--    <servlet>-->
<!--        <servlet-name>LoginServlet</servlet-name>-->
<!--        <servlet-class>org.mybatis.jpetstore.web.action.LoginServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet>-->
<!--        <servlet-name>RegisterFormServlet</servlet-name>-->
<!--        <servlet-class>org.mybatis.jpetstore.web.action.RegisterServlet</servlet-class>-->
<!--    </servlet>-->


    <servlet-mapping>
        <servlet-name>MainFormServlet</servlet-name>
        <url-pattern>/mainForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryFormServlet</servlet-name>
        <url-pattern>/categoryForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductFormServlet</servlet-name>
        <url-pattern>/productForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemFormServlet</servlet-name>
        <url-pattern>/itemForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartFormServlet</servlet-name>
        <url-pattern>/cartForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <url-pattern>/removeCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitOrderFormServlet</servlet-name>
        <url-pattern>/submitOrderForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFormServlet</servlet-name>
        <url-pattern>/searchForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/confirmOrderForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <url-pattern>/newOrderForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckShippingServlet</servlet-name>
        <url-pattern>/checkShipping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderFormServlet</servlet-name>
        <url-pattern>/viewOrderForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderFormServlet</servlet-name>
        <url-pattern>/listOrderForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderFromListFormServlet</servlet-name>
        <url-pattern>/viewOrderFromListForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAutoCompleteServlet</servlet-name>
        <url-pattern>/productAutoComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuantityServlet</servlet-name>
        <url-pattern>/addQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubQuantityServlet</servlet-name>
        <url-pattern>/subQuantity</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>-->
<!--        <servlet-name>LoginServlet</servlet-name>-->
<!--        <url-pattern>/loginForm</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>RegisterFormServlet</servlet-name>-->
<!--        <url-pattern>/registerForm</url-pattern>-->
<!--    </servlet-mapping>-->

</web-app>